{% extends "users/base.html" %}

{% block content %}
<h1>Return Book</h1>
<p>Are you sure you want to return the book?</p>

<div class="book-details">
    <p><strong>Title:</strong> {{ borrow_record.book.title }}</p>
    <p><strong>Author:</strong> {{ borrow_record.book.author }}</p>
    <p><strong>Borrowed Date:</strong> {{ borrow_record.borrow_date | date:"j M, o"}}</p>
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Return Book</button>
    <a href="{% url 'student_dashboard' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
