{% extends 'users/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Upload Books</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Upload Excel File:</label>
            <input type="file" name="file" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <div class="mt-3">
        <h4>Need a Template?</h4>
        <a href="{% url 'download_template' %}" class="btn btn-info">Download Template</a>
    </div>
</div>
{% endblock %}
