{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Feedbacks</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Image</th>
                <th>Submitted At</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.user.username }}</td>
                <td>{{ feedback.subject }}</td>
                <td>{{ feedback.body }}</td>
                <td>
                    {% if feedback.image %}
                        <img src="{{ feedback.image.url }}" alt="Feedback Image" style="max-width: 100px;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ feedback.submitted_at|date:"j M Y, H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
